@import "font";
@import "custom";

html,
body {
  height: 100%;
  background-color: $grey-lightest !important;
}
.progress-height{
  height: 0.5rem !important;
  margin-top: 8px;
}
.px-1,
.p-1 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.navbar-brand {
  padding: 10px;
  .nav-btn-space{
    margin-left: 10px !important;
  }
.button {
  font-size: 15px;
  span {
    direction: rtl !important;
    .unit {
      font-size: 10px;
    }
  }

}
}
.py-1,
.p-1 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.card-collapse {
  border-radius: 2px !important;
}

.box-shadow-y {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
}

.menu-icon {
  padding-left: 5px;
}

.input {
  font-family: $font_yekan !important;
}
.auth-img {
  //background-image: url(../../assets/img/login.png);
  //background-size: cover;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}
.courses-img {
  background-size: cover;
}
.login-box-padding {
  padding: 0 !important;
}
.login-border-rad {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.login-height {
  height: 400px;
}
.login-mobileNumber{
  margin-top: 30px;
}
.column {
  .code-input{
    display: inline-flex;
  }
}
.file-label{
  font-family: $font_IranSAns !important;
}
.box {
  .media-content{
    text-align: right !important;
    padding-right: 15px;
    padding-bottom: 50px;
  }
  .user-count {
    margin-right: 40px;
  }
  .description-detail{
    padding-right: 20px;
  }
  .notification{
    background-color: transparent !important;
  }
  .input {
    font-family: $font_IranSAns !important;
  }
  .table{
    .media-content {
      p{
        text-align: justify !important;
        padding-right: 20px;
        line-height: 1.8 ;
      }
    }
    direction: rtl;
    font-family: $font_IranSAns !important;
    margin-left:auto;
    margin-right:auto;
  }
  .table td {
    text-align: center !important;
  }
  .table th {
    text-align: center !important;
  }
  .th-wrap {
    justify-content: center !important;
    font-size: $size-7;
    font-weight: 400;
  }
}
.toast {
  font-family: $font_IranSAns !important;
}
.menu-container {
  position: fixed;
  direction: rtl;
  bottom: 0;
  margin: auto;
  min-width: 300px;
  z-index: 10;
  background-color: transparent;
  transform: translateX(-100%);
  transition: all ease 0.5s;
}

.menu-container.active {
  transform: translateX(0%);
}

.icon {
  height: 30px;
  width: 30px;
  vertical-align: baseline;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.toggler {
  margin-left: 0;
  cursor: pointer;
}

.page-title {
  margin-top: 50px;
  direction: rtl;
}

.tab-panel {
  background-color: $white;
  direction: rtl;
}

.menu-collapse {

  text-align: center !important;
  font-family: $font_yekan;

  li {
    //padding-top: 5px !important;
    //padding-bottom: 5px !important;
    border-bottom: 1px solid #efefef;
  }
}

.menu-register {
  margin-top: 1em;

  input {
    direction: rtl;
  }
}

.content {
  ul {
    margin-left: 0 !important;
    //margin-top: 2em;
  }
}

.b-tooltip {
  font-family: $font_IranSAns;
}

.panel-body-color {
  background-color: $white;
}

.panel-heading-align {
  text-align: right;
  font-family: $font_yekan;
  font-weight: $weight-bold2 !important;
}

.title-align {
  direction: rtl;
}

.categories-checkbox {
  display: grid;

  .control-label {
    padding: 10px;
  }
}

.checkbox {
  direction: rtl;
}

.categoriesBtn {
  margin-top: 10px;
  font-family: $font_yekan;
}

.confirmBtn {
  font-family: $font_yekan;
}

.categories-name {
  direction: rtl;
  padding-bottom: 10px;
}

.categories-select {
  text-align: center;
  text-align-last: center;
}

.ck-content {
  height: 300px;
}

.vpd-input-group input {
  display: table-cell;
  border: 1px solid #dadada;
  border: none !important;
  line-height: 30px;
  padding: 0 10px
}

.visibility-option {
  font-family: $font_yekan;
  direction: rtl;
}

.waiting {
  text-align: end;
}

.checkbox:not(.button) {
  margin-right: 0 !important;
}

.addtext-btn {
  font-family: $font_IranSAns;
}

.lable-group {
  margin-top: 30px;
  direction: rtl;
  font-family: $font_IranSAns;
  text-align: start;
}
.btn-register {
  margin-top: 1em;
  .btn {
    font-family: $font_IranSAns;
  }
}

.menu-list {
  li {
    list-style: none;
    margin-bottom:10px !important;

    ul {
      margin-top: 0 !important;
      border-right: $menu-list-border-right;
      border-left: $menu-list-border-right !important;
      font-family: $font_IranSAns;
    }

    a {
      text-decoration: none !important;
      font-family:$font_IranSAns;
      text-align: right;

      span.menu-label {
        letter-spacing: 0;

      }
    }
  }

  .is-active {
    span.menu-label {
      color: $white !important;
    }
  }

  a.is-active {
    font-family: $font_IranSAns;
    font-size: $size-7;
    background: $is-active-menu !important;
    border-radius: 4px;
    color: $white !important;
  }
}

.tabs {
  ul {
    li {
      a {
        direction: rtl;
      }
    }
  }
}

.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-image: url(http://html.designstream.co.in/pick/html-rtl/dist/images/author.jpg);
  background-size: cover;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 10px;
}

.arrow-down {
  margin-left: 2px;
  margin-top: 2px;
}

.menu-builder {
  justify-content: flex-end;

  input {
    text-align: center !important;
  }

  span {
    direction: rtl;
  }
}

// Variables
$primary: #004bef;
$secondary: #ffaa1a;
$primary-text: #121212;
$secondary-text: #dbdbdb;
$body-bg: #fafafa;
// Mixins
@mixin d-flex {
  display: flex;
}

@mixin d-flex-column {
  flex-direction: column;
}

@mixin d-flex-center {
  justify-content: center;
  align-items: center;
}

@mixin d-flex-v-center {
  align-items: center;
}

@mixin d-flex-h-center {
  justify-content: center;
}

@mixin d-flex-between {
  justify-content: space-between;
}

@mixin fluid {
  width: 100%;
  height: 100%;
}

@mixin flex-grow {
  flex-grow: 1;
}

@mixin drop-shadow {
  box-shadow: 2px 4px 12px 1px rgba(142, 128, 239, 0.3);
}

// PLaceholder
// Reset
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  .is-floating-label{
    direction: rtl;
    font-family: $font_IranSAns;
    .label {
      right: 1em !important;
      left: auto !important;
      text-align: right;
    }
  }

.select select {
  font-family: $font_IranSAns;
}
.urlCopy{
    width: 28em !important;
  }


.site-wrapper {
  @include d-flex();
  @include fluid();
  background-color: $body-bg;
}

.d-flex {
  @include d-flex();
}

.align-items-center {
  @include d-flex-v-center();
}

/*
    Components
*/

// 1. Sidebar
.sidebar {
  @include flex-grow();
  background-color: #ffffff;
  position: fixed;
  direction: rtl;
  bottom: 0;
  margin: auto;
  z-index: 10;
  max-width: 240px;
  height: 100%;
  border-right: 1px solid #eeeeee;
  transition: all .4s ease-in-out;

  header {
    padding: 2em;
    transition: all .4s ease-in-out;
    @media screen and (max-width: 768px) {
      padding: 1em;
    }

    a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $primary;
      color: #ffffff;
      @include d-flex();
      @include d-flex-center();
      @include drop-shadow();
    }
  }




  .menu {
    .menu-item {
      @include d-flex();
      @include d-flex-v-center();
      padding: .8em 2.2em;
      color: $primary-text;
      font-family: $font_yekan;
      font-size: 14px;
      font-weight: 500;
      transition: all .4s ease-in-out;

      &:hover,
      &.active {
        background-color: lighten($grey, 25);
        color: $grey;
      }

      @media screen and (max-width: 768px) {
        padding: 1em;
        @include d-flex-h-center();
      }
    }
  }

  .menu-icon {
    width: 30px;
    text-align: center;
  }

  .menu-label {
    font-size: 300px !important;
    padding-left: 10px;
    @media screen and (max-width: 768px) {
      visibility: hidden;
      opacity: 0;
      position: absolute;
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 70px;
  }
}

// 2. Main Wrapper
.main-wrapper {
  @include flex-grow();
  @include d-flex();
  @include d-flex-column();
  height: 100%;
}

// 3. Header
.site-header {
  @include flex-grow();
  @include d-flex();
  @include d-flex-between();
  max-height: 70px;
  border-bottom: 1px solid #eeeeee;

  .searchbar {
    padding: 0 2em;
    color: $secondary-text;
    @include flex-grow();
    @include d-flex();
    @include d-flex-v-center();

    input {
      border: 0;
      padding: 5px;
      background-color: transparent;
      color: $secondary-text;
      font-family: inherit;
      outline: none;
      @include flex-grow();
      margin-left: 10px;

      &::-webkit-input-placeholder {
        font-weight: 700;
        font-size: 16px;
        color: darken($secondary-text, 20);
      }
    }
  }

  .notification-bell {
    padding: 1.5em;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    color: darken($secondary-text, 35);
  }

  .user-info {
    padding: 0 2em 0 1em;
    @include d-flex();
    @include d-flex-v-center();
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 13px;
      right: 2em;
      width: 2px;
      height: 8px;
      background-color: #dbdbdb;
      border-radius: 4px;
    }

    &::before {
      transform: rotate(45deg) translateY(-3px);
    }

    &::after {
      transform: rotate(-45deg) translateY(-3px);
    }

    .user-avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $secondary;
      color: #ffffff;
      font-size: 14px;

    }

    .user-name {
      font-size: 14px;
      font-weight: 500;
      color: darken($secondary-text, 35);
      padding-right: 1em;
    }
  }
}

/*sideNav*/
.p-1 {
  padding: 1em;
}

.sidebar-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-family: $font_yekan !important;
  // min-height: 100vh;
  .sidebar-layout {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    font-family: $font_yekan !important;
    // min-height: 100vh;
  }

}

.sidebar-content {
  width: 15% !important;
  text-align: center;
  background-color: $white !important;

  .menu-item {
    direction: rtl;
    color: $primary-text;
    font-family: $font_IranSAns;
    font-size: $size-5;
    font-weight: $weight-bold;
    transition: all .2s ease-in-out;

    &:hover,
    &.active {
      background-color: lighten($grey-light, 25);
      color: $primary;
    }

    @media screen and (max-width: 768px) {
      padding: 1em;
      @include d-flex-h-center();
    }
  }

  .menu-list {
    ul {
      border-right: 1px !important;
    }

    direction: rtl;
  }
}

@media screen and (max-width: 1023px) {
  .b-sidebar {
    .sidebar-content {
      &.is-mini-mobile {
        &:not(.is-mini-expand),
        &.is-mini-expand:not(:hover) {
          .menu-list {
            li {
              a {
                span:nth-child(2) {
                  display: none;
                }
              }

              ul {
                padding-left: 0;

                li {
                  a {
                    display: inline-block;
                  }
                }
              }
            }
          }

          .menu-label:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .b-sidebar {
    .sidebar-content {
      &.is-mini {
        &:not(.is-mini-expand),
        &.is-mini-expand:not(:hover) {
          .menu-list {
            li {
              a {
                span:nth-child(2) {
                  display: none;
                }
              }

              ul {
                padding-left: 0;

                li {
                  a {
                    display: inline-block;
                  }
                }
              }
            }
          }

          .menu-label:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.vpd-content {
  font-family: $font_IranSAns;
  font-size: $size-7;
}
.vpd-date {
  font-size: $size-6 !important;
}
.vpd-header {
  border-radius: 5px;
}
.buttons {
  .is-success {
    font-family: $font_IranSAns;
    font-size: $size-7 !important;
    font-weight: $weight-bold !important;
    background-color:$menu-btn-color !important;
    border-radius: 20px;
  }
}
.button {
  font-family: $font_IranSAns;
}
.pagination{
  font-family: $font_IranSAns;
}
.services-btn {
  text-align: center !important;
  margin-bottom: 30px;
  font-size: $size-5 !important;
}
.card-content{
  height: 150px;
  p{
    font-size:  16px !important;
    font-family: $font_IranSAns;
  }

 }

.card-list {
  width: 100%;
}
.card-info{
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}
.card-warning {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}
.card-danger{
background: linear-gradient(45deg, #ff5370, #ff869a);
}
.card-success {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}
.info-box{
  min-height: 100px;
  width: 100%;
  box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
  margin-bottom: 20px;
  border-radius: 10px;
}
.custom-card {
  border-radius: 8px;
  color: white;
  padding: 10px;

  .zmdi {
    color: white;
    font-size: 28px;
    opacity: 0.3;
    position: relative;
    left: 30%;
    top: 13px;
    background: rgba(0, 0, 0, 0.2);;
    border-radius: 100px;
    padding: 30px;
  }


  .stat {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 8px;
    margin-top: 8px;
    padding: 10px 10px 0;
    text-transform: uppercase;
  }

  .title {
    color: #fff;
    display: inline-block;
    padding: 10px 10px 0;
    text-transform: uppercase;
    font-family: $font_IranSAns;
  }

  .value {

    font-family: $font_IranSAns;
    padding: 0 10px;
  }

  &.blue {
    background-color: #2298F1;
  }

  &.green {
    background-color: #66B92E;
  }

  &.orange {
    background-color: #DA932C;
  }

  &.red {
    background-color: #D65B4A;
  }
}